.btn-text--anim-trig:hover .btn-text {
  /* background-color: rgb(244,67,98); */
  color: rgb(244,67,98);
  /* box-shadow: 0 1rem 2rem rgba(0,0,0,.27); */
  transform: translateY(-2px);
  /* -webkit-background-clip: text; */
}

.btn-text:active {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.27);
  transform: translateY(-2px);
}

.btn-text:link,
.btn-text:visited  {
  font-size: 5rem;
  
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: .2rem;
  position: relative;
  top: 50%;
  left: 20%;
  border-radius: 100px;
  text-align: center;
  width: 9rem;
}

